/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 2.0
 */
/*FONTS*/
@font-face {
	font-family: 'Montserratarm';
	src: url('fonts/Montserratarm-Regular.eot');
	src: local('☺'), url('fonts/Montserratarm-Regular.woff') format('woff'),
	 url('fonts/Montserratarm-Regular.ttf') format('truetype'),
	 url('fonts/Montserratarm-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserratarm';
	src: url('fonts/Montserratarm-Medium.eot');
	src: local('☺'), url('fonts/Montserratarm-Medium.woff') format('woff'),
	 url('fonts/Montserratarm-Medium.ttf') format('truetype'),
	 url('fonts/Montserratarm-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserratarm';
	src: url('fonts/Montserratarm-SemiBold.eot');
	src: local('☺'), url('fonts/Montserratarm-SemiBold.woff') format('woff'),
	 url('fonts/Montserratarm-SemiBold.ttf') format('truetype'),
	 url('fonts/Montserratarm-SemiBold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Montserratarm';
	src: url('fonts/Montserratarm-Bold.eot');
	src: local('☺'), url('fonts/Montserratarm-Bold.woff') format('woff'),
	 url('fonts/Montserratarm-Bold.ttf') format('truetype'),
	 url('fonts/Montserratarm-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Montserratarm';
	src: url('fonts/Montserratarm-ExtraBold.eot');
	src: local('☺'), url('fonts/Montserratarm-ExtraBold.woff') format('woff'),
	 url('fonts/Montserratarm-ExtraBold.ttf') format('truetype'),
	 url('fonts/Montserratarm-ExtraBold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'Montserratarm';
	src: url('fonts/Montserratarm-Black.eot');
	src: local('☺'), url('fonts/Montserratarm-Black.woff') format('woff'),
	 url('fonts/Montserratarm-Black.ttf') format('truetype'),
	 url('fonts/Montserratarm-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

/*DEFAULT CSS*/

* {
	outline: none !important;
	text-decoration: none !important;
}

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
	position: relative;
	background: #fff;
	color: #000;
	font-family: 'Montserratarm', sans-serif;
}

ul {
	padding-inline-start: 0;
}

.user-content h1,
.user-content h2,
.user-content h3,
.user-content h4,
.user-content h5,
.user-content h6 {
	font-weight: bold;
	font-family: 'Maitree', serif;
}

.maitree-font {
	font-family: 'Maitree', serif;
	font-weight: 300;
}

.equal-children {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
}

.transition {
	transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

.nav>li>a:focus,
.nav>li>a:hover,
.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
	background: transparent;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	/* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100;
	/* Above WP toolbar. */
}

/*MAIN CSS*/
.sticky {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #fff;
	z-index: 23;
}

.fixedPosition {
	overflow-y: hidden;
}

.section {
	padding: 45px 0;
}

.section-title {
	color: #000000;
	font-size: 32px;
	line-height: 53px;
	text-transform: capitalize;
}

.flex-content {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
}

.btn {
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 13px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 2px;
	background: transparent;
	padding: 13px 0;
	display: inline-block;
	text-transform: uppercase;
	transition-duration: .3s;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.btn:active {
	box-shadow: unset;
}

.btn:active,
.btn:hover,
.social-icons a:hover,
.btn-gray:hover {
	transform: scale(1.1);
}

.black-btn,
.black-btn:hover,
.black-btn:active,
.black-btn:focus {
	background: #000;
	color: #fff;
}

.white-btn {
	background: #fff;
	color: #000;
}

.short-btn {
	width: 150px;
}

.medium-btn {
	width: 185px;
}

.long-btn {
	width: 290px;
}

.full-width-btn {
	width: 100%;
}

#breadcrumbs {
	margin-bottom: 0;
}

#breadcrumbs li {
	display: inline-block;
	list-style-type: none;
	color: #808080;
	font-size: 10px;
	line-height: 10px;
}

#breadcrumbs li a {
	color: #000;
	text-decoration: underline !important;
}

.user-content,
.user-content p,
.user-content ul li {
	font-size: 14px;
	line-height: 28px;
}

.user-content ul,
.user-content ol {
	margin-left: 30px;
}

.user-content h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 41px;
}

.user-content h2 {
	font-size: 24px;
}

.user-content img {
	display: block;
	margin: 10px auto 10px auto;
}

.page-title {
	font-size: 32px;
	font-weight: bold;
	line-height: 41px;
	margin-bottom: 20px;
}

.post-date {
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 13px;
	margin-bottom: 25px;
}

/*Header Style*/
header {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.navbar-brand {
	height: 83px;
	padding: 1px 0;
}

.ars-logo {
	height: 81px;
	width: 60px;
}

.logo-part {
	height: 32px;
	margin: 28px 0 28px 5px;
}

.header-top {
	background-color: #9CACCA;
}

.header-left-part {
	width: 30%;
}

.header-right-part {
	margin-left: auto;
	padding: 24px 0;
}

.navbar {
	margin-bottom: 0;
	border: 0;
}

.navbar-nav {
	width: 100%;
	display: flex;
	display: -webkit-box;
	/* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;
	/* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;
	/* TWEENER - IE 10 */
	display: -webkit-flex;
}

.navbar-nav>li {
	width: 16.6%;
}

.navbar-nav>li>a {
	color: #000;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.6px;
	line-height: 18px;
	padding: 20px 15px;
	text-transform: uppercase;
	text-align: center;
	position: relative;
}

.navbar-nav>li {
	position: relative;
}

.navbar-nav>li:hover:after {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: #6F87B3;
}

.menu-item-has-children {
	position: relative;
}

.menu-item-has-children:hover>.sub-menu {
	display: block;
}

.sub-menu {
	background: #fff;
	display: none;
	z-index: 22;
	padding: 12px 0;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}


.sub-menu>li {
	padding: 0 12px;
	list-style-type: none;
}

.sub-menu>li>a {
	color: #000;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.6px;
	line-height: 14px;
	padding: 8px 0;
	display: inline-block;
	width: 100%;
}

.sub-menu>li>a:hover {
	color: #6F87B3;
}



.menu-back {
	display: none;
	z-index: 2;
	position: absolute;
	top: -33px;
	left: 15px;
}

.closebtn {
	color: #000;
	font-size: 25px;
}

.social-icons {
	display: inline-block;
	margin-bottom: 0;
	padding-inline-start: 0;
}

.social-icons li {
	list-style-type: none;
	display: inline-block;
	margin-right: 8px;
}

.social-icons li a {
	color: #000;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	border: 1px solid #000000;
	border-radius: 2px;
	width: 41px;
	height: 41px;
	vertical-align: middle;
	padding-top: 10px;
}

footer .social-icons li a {
	color: #fff;
	border: 1px solid #3D3D3D;
}

footer .social-icons {
	margin-right: 28px;
}

.btn-join-us {
	margin: 0 12px 0 4px;
}

/*End Header Style*/

/*Archive Page Style*/
.category-sidebar h2,
.category-sidebar p {
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 18px;
	text-transform: uppercase;
}

.category-sidebar h2 {
	font-weight: 700;
	text-decoration: underline !important;
}

.category-sidebar p {
	padding: 5px 0;
}

/*End Archive Page Style*/

/*Banner Style*/

.banner {
	width: 100%;
	max-height: 408px;
	height: 50vh;
	position: relative;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
}

.banner>div {
	margin-top: auto;
}

.banner-content {
	width: 45%;
	margin-bottom: 60px;
}

.banner-content h1 {
	color: #FFFFFF;
	font-size: 52px;
	letter-spacing: -0.14px;
	line-height: 56px;
}

.banner-content .btn {
	border: 1px solid #fff;
	margin-top: 23px;
}

.banner-slider .owl-dots {
	position: absolute;
	bottom: 60px;
	right: 15px;
}

.banner-slider .owl-controls {
	max-width: 1200px;
	height: 8px;
	margin: 0 auto;
	position: relative;
}

.banner-slider .owl-dots .owl-dot {
	border: 1px solid #FFFFFF;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	display: inline-block;
	margin-left: 20px;
}

.banner-slider .owl-dots .owl-dot.active {
	background: #FFFFFF;
}

/*End Banner Style*/

/*Accomplishments section Style*/
.our-accomplishments {
	border-top: 2px solid #D7DDE8;
	border-bottom: 2px solid #D7DDE8;
	position: relative;
	background: linear-gradient(to right, #D7DDE8 40%, #fff 40% 60%);
}

.accomplishments-right {
	width: 80%;
}

.m-top .flex-content {
	margin-left: 0;
}

.accomplishments-text {
	background: #D7DDE8;
	padding: 16.5px 0;
}

.accomplishments-text .fa {
	padding-left: 10px;
}

.accomplishment-slider p {
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	margin: 0;
	padding: 12px 0;
}

.l-part {
	width: 215px;
}

.r-part {
	width: calc(100% - 215px);
	padding-left: 32px;
	background: #fff;
}

/*End Accomplishments section Style*/

/*Custom Page Style*/
.featured-banner {
	width: 100%;
	max-height: 300px;
	height: 50vh;
}

.col {
	width: calc(50% - 30px);
	margin-right: 15px;
	margin-left: 15px;
}

.one-column-block {
	margin-top: 90px;
}

.one-column-title {
	margin-top: 80px;
	font-size: 24px;
	font-weight: bold;
	line-height: 29px;
}

.two-column-block {
	margin-top: 50px;
}

.custom-page {
	padding-bottom: 100px;
}

.one-column-text {
	font-family: "Maitree", serif;
	font-size: 18px;
	line-height: 27px;
	font-weight: 300;
	text-align: justify;
}

.two-column-title,
.two-column-text {
	font-family: "Maitree", serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 300;
}

.two-column-title {
	font-weight: bold;
}

/*End Custom Page Style*/

/*Events Section Style*/
.events-section {
	margin-bottom: 80px;
	border-bottom: 3px solid #979797;
}

.events-section .owl-nav {
	display: inline-flex;
	margin-right: 15px;
}

.events-section .owl-prev {
	margin-right: 18px;
}

.events-section .owl-nav>div,
.prev-next-posts>div {
	border: 1px solid rgba(100, 112, 90, 0.2);
	border-radius: 50%;
	padding: 19px 20px;
}

.events-slider {
	padding: 23px 0 36px 0;
}

.events-slider .owl-controls {
	position: absolute;
	top: -50px;
	width: 100%;
	text-align: right;
	max-width: 1200px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
}

.events-item {
	max-width: 398px;
	position: relative;
}

.events-img {
	width: 100%;
	height: 501px;
}

.events-title {
	font-size: 16px;
	line-height: 20px;
}

/*End Events Section Style*/

/*Latest News Section Style*/

.latest-news-section {
	background-color: #EFEFEF;
	padding: 56px 0 80px 0;
}

.latest-news-section .read-more {
	margin-top: 80px;
}

.news-box {
	max-height: 320px;
	margin-top: 54px;
	position: relative;
}

.news-img {
	height: 200px;
	width: 100%;
}

.date {
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 13px;
	text-transform: uppercase;
	padding-top: 26px;
	display: inline-block;
}

.news-title {
	font-size: 18px;
	line-height: 28px;
	font-weight: 300;
}

/* End Latest News Section Style*/

/*Our Impact Section Style*/
.hide-impacts {
	display: none;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.3s linear, opacity 0.3s linear;
}

.our-impact-section {
	padding: 56px 0 80px 0;
}

.impact-data {
	font-size: 32px;
	line-height: 57px;
	border-bottom: 1px solid #D9D9D9;
	padding-bottom: 12px;
	padding-top: 50px;
}

.impact-desc {
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	padding-top: 16px;
}

.our-impact-section .read-more {
	margin-top: 80px;
}

/*End Our Impact Section Style*/

/*Our Chapters Section style*/
.our-chapters-section .flex-content {
	margin-right: -11px;
	margin-left: -11px;
}

.our-chapters-section h1 {
	margin-top: 0;
	text-transform: capitalize;
}

.chapter-box {
	position: relative;
	height: 255px;
	max-width: 230px;
	width: calc(20% - 22px);
	border: 1px solid #DCDCDC;
	margin-top: 22px;
	margin-right: 11px;
	margin-left: 11px;
	text-align: center;
}

.chapter-box:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.chapter-img {
	width: 90px;
	height: 90px;
	display: inline-block;
	margin-top: 75px;
}

.chapter-title {
	font-family: 'Maitree', serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	margin-top: 27px;
	margin-bottom: 0;
	text-transform: capitalize;
}

.chapter-subtitle {
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

/*End Our Chapters Section style*/

/*Become a Member Section Style*/
.become-member-section {
	background-color: #EFEFEF;
	padding: 60px 0;
}

.become-member-section img {
	width: 18px;
	height: 18px;
	margin-top: 20px;
	margin-left: 4px;
}

.become-member-section .btn {
	margin: 14px 0;
}

.member-icon {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid #D9D9D9;
	display: inline-block;
	text-align: center;
}

/*End Become a Member Section Style*/

/*Contact Us page Style*/
.page-template-page-contacts .breadcrumbs {
	display: none;
}

.contact-info {
	padding-top: 36px;
}

.contact-t {
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1.82px;
	line-height: 10px;
	text-transform: uppercase;
}

.contact-i {
	font-size: 12px;
	line-height: 15px;
}

.contact-i a {
	color: #000;
}

.contact-info .info {
	padding: 35px 0;
}

.contact-info .info:not(:last-child) {
	border-bottom: 1px solid rgba(151, 151, 151, 0.3);
}

.maps {
	width: 100%;
	max-height: 700px;
	height: 90vh;
}

.contact-form {
	padding-top: 71px;
}

.frm_form_fields input,
.frm_form_fields textarea {
	border: 0;
	border-bottom: 1px solid rgba(151, 151, 151, 0.3);
	width: 100%;
	padding: 17px 0;
	font-size: 12px;
	font-weight: 700;
	line-height: 15px;
	margin-top: 19px;
	color: #000;
}

label.frm_primary_label {
	display: none;
}

.frm_submit {
	text-align: right;
}

.register-form .frm_button_submit.frm_final_submit,
.contact-form .frm_submit button {
	margin: 40px 0;
	width: 186px;
	border-radius: 2px;
	background-color: #000000;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 13px;
	text-align: center;
	color: #fff;
	border: 0;
	padding: 13px 0;
}

.form-title {
	font-size: 32px;
	line-height: 32px;
}

/*End Contact Us Page Style*/

/*Events Page Style*/
.page-content {
	padding-top: 24px;
	padding-bottom: 100px;
}

.tribe-events-loop {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
}

.tribe-events-loop .tribe-events-list-separator-month {
	width: 100%;
}

.calendar-of-events .tribe-events-loop .tribe-events-list-separator-month {
	display: none;
}

.tribe-events-loop .type-tribe_events {
	width: calc(33.33% - 30px);
	margin-right: 15px;
	margin-left: 15px;
}

.tribe-events-list .tribe-events-loop .tribe-events-event-image {
	width: 100%;
	margin: 0;
}

.tribe-events-list .tribe-events-event-image img {
	max-height: 500px;
}

.tribe-events-list .type-tribe_events {
	display: flex;
	flex-wrap: wrap;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	-webkit-flex-wrap: wrap;
}

.tribe-events-list .tribe-events-event-image+div.tribe-events-content.tribe-events-list-event-description,
.tribe-events-list .tribe-events-venue-details {
	display: none;
}

.tribe-events-list .tribe-events-list-event-title {
	order: 3;
}

.tribe-events-list .tribe-events-list-event-title a {
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	color: #000;
}

.tribe-events-loop .tribe-events-event-meta {
	font-size: 10px !important;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 13px !important;
	order: 2;
	margin-top: 28px;
}

.tribe-events-list .type-tribe_events {
	border: 0;
	padding: 30px 0 0;
}

.tribe-events-page-title {
	font-family: 'Maitree', serif;
	font-size: 32px;
	line-height: 32px;
	text-align: left;
	margin-bottom: 40px;
}

.tribe-event-schedule-details {
	margin-top: 27px;
}

/*End Events Page Style*/

/*Chapters Single Page Style*/
.single-cpt_chapter main {
	padding-bottom: 119px;
}

.single-cpt_chapter .breadcrumbs,
.page-template-custom-page .breadcrumbs {
	margin-top: 24px;
}

.activities-functions .flex-content,
.organization-items,
.chapters-programs .flex-content,
.chapters-contact .flex-content {
	margin-left: -15px;
	margin-right: -15px;
}

.activities-functions .flex-content .news-box,
.organization-items .organization-item,
.chapters-programs .chapter-program,
.chapters-contact .chapters-contact-details {
	margin-left: 15px;
	margin-right: 15px;
}

.activities-functions .news-box {
	width: calc(50% - 30px);
	margin-top: 0;
}

.activities-functions .news-box .news-title {
	font-weight: 300;
}

.margin-top-40 {
	margin-top: 40px;
}

.organization-item {
	width: calc(33.33% - 30px);
	background-color: #EDEDED;
	text-align: center;
	padding: 30px 0 28px 0;
	position: relative;
	margin-top: 20px;
}

.organization-item img {
	height: 40px;
	width: auto;
}

.chapter-program {
	background-color: #EDEDED;
	width: calc(50% - 30px);
	position: relative;
	margin: 8px 0;
	padding: 42px;
}

.chapter-program img {
	height: 32px;
	width: auto;
	display: inline-block;
	margin-right: 15px;
}

.chapters-contact-details {
	width: calc(50% - 30px);
}

.chapters-title {
	font-size: 32px;
	line-height: 32px;
	margin: 24px 0 0;
}

.chapters-subtitle {
	font-size: 16px;
	font-weight: 300;
	line-height: 32px;
	margin: 0;
}

.chapters_settings {
	margin-top: 10px;
}

.chapters_settings h4.active a {
	font-weight: bold;
	text-decoration: underline !important;
}

.chapters_settings h4 a {
	font-size: 10px;
	letter-spacing: 1px;
	line-height: 18px;
	text-transform: uppercase;
	color: #000;
	display: inline-block;
}

.chapters-content-title {
	font-size: 16px;
	font-weight: bold;
	line-height: 24px;
	margin-bottom: 24px;
}

.chapters-settings {
	position: relative;
}

.chapters-settings .available-features:not(:nth-child(1)) {
	margin-top: 74px;
}

.organization_text {
	font-size: 14px;
	line-height: 21px;
}

.publication-icon {
	margin-left: auto;
}

.publication-item {
	padding: 30px 0;
	border-top: 1px solid #E4E4E4;
}

.chapters-publication .publication-item:last-child {
	border-bottom: 1px solid #E4E4E4;
}

.publication-title,
.publication-title a {
	font-size: 14px;
	line-height: 18px;
	color: #000;
}

.publication-year {
	font-size: 11px;
	font-weight: bold;
	letter-spacing: 0.92px;
	line-height: 14px;
	padding-right: 30px;
}

.pdf-icon {
	height: 24px;
	width: 24px;
}

.hr-line {
	width: 100%;
	height: 2px;
	background-color: #E4E4E4;
	margin-bottom: 34px;
}

.chapters-contact .hr-line {
	height: 1px;
	margin-left: 15px;
	margin-right: 15px;
}

.chapters-contact-details {
	font-size: 12px;
	line-height: 18px;
}

.chapter-contact-info,
.contact-socials {
	margin-bottom: 40px;
}

.social-icon {
	border: 1px solid rgba(151, 151, 151, 0.4);
	height: 36px;
	width: 36px;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	font-size: 16px;
	color: #000;
	line-height: 36px;
}

.social-icon:not(:last-child) {
	margin-right: 7px;
}

.contact-socials {
	width: 100%;
}

.margin-auto {
	margin-top: auto;
}

.single-cpt_chapter .tribe-events-list .type-tribe_events {
	width: 50%;
}

.single-cpt_chapter .tribe-events-event-meta {
	width: 100%;
}

.btn-gray {
	text-align: left;
	padding: 0 20px;
	background-color: #EDEDED;
	border: 0;
	display: inline-block;
	margin-left: auto;
	height: 40px;
	width: 184px;
	border-radius: 2px;
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 13px;
	text-transform: uppercase;
	background-image: url("./img/calendar.svg");
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position: 155px center;
}

.calendar-icon {
	height: 17px;
	width: 17px;
}

#calendar #tribe-events-bar,
#calendar .tribe-events-ical.tribe-events-button {
	display: none;
}

.form-popup {
	display: none;
	position: fixed;
	bottom: 0;
	z-index: 25;
	width: 40%;
	height: auto;
	background: #fff;
	border: 1px solid #DCDCDC;
	padding: 30px;
	right: 5%;
}

.cancel {
	float: right;
	margin-top: -10px;
	margin-right: -10px;
}

/*End Chapters Single Page Style*/

/*Programs Page Style*/
.program-box {
	position: relative;
	background-color: #EDEDED;
	padding: 40px;
	margin-top: 25px;
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	min-height: 185px;
}

.program-box h2 {
	font-size: 14px;
	line-height: 18px;
	margin: 0 0 18px;
}

.program-box img {
	height: 34px;
	width: auto;
	display: inline-block;
	margin-right: 30px;
}

.program-city {
	border: 1px solid rgba(151, 151, 151, 0.2);
	border-radius: 2px;
	font-size: 12px;
	padding: 4px 8px;
	margin-top: 10px;
	display: inline-block;
}

/*End Programs Page Style*/

/*Donations Page Style*/
.donations {
	padding-right: 0;
	padding-left: 0;
}

.donations-page iframe {
	width: 850px;
	overflow-x: hidden;
	overflow-Y: hidden;
	height: 2417px;
	float: right;
}

.donations-page iframe html#fullform {
	background: #fff !important;
}

body main.row,
html main.row {
	max-width: 720px !important;
	margin-right: 10% !important;
}

.donation-page-content {
	font-size: 14px;
	line-height: 24px;
	background: rgba(26, 26, 26, 0.05);
	padding: 90px 15px 90px 100px;
	width: 35%;
}

.donation-content {
	max-width: 300px;
}

.donation-form {
	width: 65%;
}

/*End Donations Page Style*/

/*Executive Board Page Style*/
.member-box {
	margin-top: 30px;
}

.member-img {
	height: 290px;
	width: 100%;
}

.name-surname {
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	padding-top: 10px;
}

.position {
	font-size: 10px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 13px;
}

.content {
	background-color: rgba(26, 26, 26, 0.05);
	margin-top: 50px;
	padding: 60px 60px 54px;
}

.content,
.content p,
.content blockquote {
	font-size: 14px;
	line-height: 24px;
}

.circle {
	border: 1px solid rgba(100, 112, 90, 0.2);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: inline-block;
	text-align: center;
	padding-top: 18px;
	margin-bottom: 20px;
}

a.circle {
	padding-top: 15px;
	margin-bottom: 0;
	font-size: 20px;
	color: #000;
	margin-top: 30px;
}

/*End Executive Board Page Style*/

/*Photos Page Style*/
.gallery {
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}

.gallery .album {
	position: relative;
	width: calc(33.33% - 30px);
	margin-right: 15px !important;
	margin-left: 15px !important;
	margin-top: 24px !important;
	border: 0 !important;
}

.gallery .album h2.name {
	font-size: 18px;
	font-weight: 300;
	line-height: 28px;
	color: #000;
	margin-top: 20px;
	margin-bottom: 10px;
}

.gallery a.backlink {
	width: 100%;
}

.album h2.name a {
	color: #000;
}

.gallery .album img {
	max-height: 200px;
	margin: 0 auto;
	display: block;
	float: none;
}

.r-position {
	position: relative;
}

.photo-icon {
	position: absolute;
	height: 32px;
	width: 38px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.gallery .thumbs img {
	padding: 0;
	border: 0;
	width: calc(33% - 30px);
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 24px;
}

.gallery .prevnext div {
	margin-left: 30px;
}

.gallery img.big {
	width: 100%;
	margin-top: 24px;
}

/*End Photos Page Style*/

/*Footer Style*/
footer {
	background: #000;
	color: #fff;
	padding: 48px 0 77px;
}

footer .subscribe-title {
	font-size: 40px;
	line-height: 44px;
}

.copyright {
	margin-top: 81px;
}

.copyright p {
	font-size: 10px;
	font-weight: 700;
	line-height: 13px;
}

.copyright p a {
	color: #fff;
}

.subscribe-form {
	margin-top: 30px;
}

.subscribe-form .frm_fields_container input {
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(151, 151, 151, 0.3);
	color: #fff;
}

.subscribe-form .frm_submit {
	display: inline-block;
	margin-top: auto;
}

.subscribe-form input {
	min-height: 35px;
	margin-bottom: 6px;
}

.subscribe-form .frm_submit button {
	margin-top: 10px;
	background: white;
	color: black;
	position: relative;
	font-size: 10px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 13px;
	text-align: center;
	border: 1px solid #000;
	border-radius: 2px;
	padding: 10px 14px;
	display: inline-block;
	text-transform: uppercase;
	transition-duration: .3s;
	transition-property: transform;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.subscribe-form .frm_error_style,
.subscribe-form .frm_error {
	font-size: 12px;
}

.frm_style_formidable-style.with_frm_style .frm-edit-page-btn,
.frm_style_formidable-style.with_frm_style input[type=submit],
.frm_style_formidable-style.with_frm_style .frm_submit input[type=button],
.frm_style_formidable-style.with_frm_style .frm_submit button,
.frm_style_formidable-style.with_frm_style input[type=submit],
.frm_style_formidable-style.with_frm_style .frm_submit input[type=button],
.frm_style_formidable-style.with_frm_style .frm_submit button {
	min-width: 165px;
	text-transform: uppercase;
}

/*end footer style*/

/* Large desktops and laptops */
@media (min-width: 2200px) {}

@media (min-width: 1230px) {
	.container {
		width: 1200px;
	}

	.donations-page iframe {
		width: 780px;
	}
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {

	.donation-form,
	.donation-page-content {
		width: 100%;
	}

	.donation-page-content {
		padding: 40px 15px;
	}

	.donation-content {
		width: 100%;
		max-width: unset;
	}

	.accomplishment-slider p {
		max-height: 47px;
		overflow: hidden;
	}

	.donations-page iframe {
		width: 100%;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

	.banner-slider .owl-controls,
	.events-slider .owl-controls {
		max-width: 960px;
	}

	.logo-part {
		width: 75%;
		height: auto;
	}
}

@media (min-width: 992px) {}

@media (max-width: 991px) {
	.navbar-brand>img.logo-part {
		display: none;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.chapter-box {
		width: calc(33.33% - 30px);
	}
}

/* Landscape phones and portrait tablets */
@media (min-width: 768px) {
	#menu-main-menu>li>.sub-menu {
		position: absolute;
		top: 57px;
		width: 100%;
		left: 0;
	}

	#menu-main-menu>.menu-item-has-children>a:after {
		content: "\f107";
		position: absolute;
		font-family: 'FontAwesome', sans-serif;
		font-size: 12px;
		padding-left: 5px;
	}

	.sub-menu>li:hover>.sub-menu {
		left: 100.5%;
		top: 0;
		position: absolute;
		margin-right: -4px;
	}

	.sub-menu>li:hover>.sub-menu>li>a {
		white-space: nowrap;
	}

	#menu-main-menu .menu-item-has-children>.sub-menu>.menu-item-has-children>a:after {
		content: "\f105";
		position: absolute;
		right: 15px;
		font-family: 'FontAwesome', sans-serif;
		font-size: 12px;
		padding-left: 5px;
	}
}

@media (max-width: 767px) {

	.activities-functions .flex-content,
	.organization-items,
	.chapters-programs .flex-content,
	.chapters-contact .flex-content {
		margin-left: 0;
		margin-right: 0;
	}

	.activities-functions .flex-content .news-box,
	.organization-items .organization-item,
	.chapters-programs .chapter-program,
	.chapters-contact .chapters-contact-details {
		margin-left: 0;
		margin-right: 0;
	}

	.activities-functions .flex-content .news-box,
	.organization-items .organization-item {
		margin-left: 0;
		margin-right: 0;
	}

	.chapters-contact .flex-content .chapters-contact-details:not(:first-child) {
		margin-top: 24px;
	}

	header {
		border-bottom: 0;
	}

	.navbar-nav>li:hover:after {
		height: 0;
	}

	.accomplishments-section {
		display: none;
	}

	footer .subscribe-title {
		font-size: 24px;
		line-height: 30px;
		margin: 0;
	}

	footer {
		padding: 32px 0 36px;
	}

	.gallery .album {
		width: calc(50% - 30px);
	}

	.maps {
		max-height: 600px;
	}

	.tribe-events-loop .tribe-events-event-meta {
		background: transparent;
		border: 0;
		padding: 0;
	}

	#breadcrumbs {
		display: none;
	}

	.contact-form {
		padding-top: 7px;
	}

	.register-form .frm_button_submit.frm_final_submit,
	.contact-form .frm_submit button {
		width: 100%;
	}

	#map {
		max-height: 370px;
		height: 50vh;
	}

	.footer-right-top .btn {
		display: none;
	}

	.contact-info {
		padding-top: 0;
		text-align: initial;
	}

	.latest-news-section .row div:nth-child(n+4) {
		display: none;
	}

	.news-img {
		max-height: 141px;
	}

	.become-member-section .text-right {
		text-align: center;
	}

	.chapter-box {
		height: 170px;
	}

	.chapter-img {
		margin-top: 19px;
	}

	.chapter-title {
		margin-top: 10px;
	}

	.section-title {
		font-size: 24px;
		line-height: 24px;
	}

	.section {
		padding: 20px 0;
	}

	.events-slider .owl-controls {
		display: none;
	}

	.events-img {
		max-height: 353px;
		max-width: 280px;
		margin: 0 auto;
	}

	.events-item {
		margin-right: 15px;
		margin-left: 15px;
	}

	.events-section {
		margin-bottom: 0;
		border-bottom: 2px solid #979797;
	}

	.news-box {
		margin-top: 22px;
	}

	.news-title {
		font-size: 14px;
		line-height: 24px;
		margin-top: 15px;
	}

	.date {
		padding-top: 22px;
	}

	.latest-news-section .read-more {
		margin-top: 34px;
		text-align: center;
	}

	.footer-right-top {
		margin-top: 40px;
		text-align: center;
	}

	.copyright {
		margin-top: 37px;
		text-align: left;
	}

	header {
		position: relative;
	}

	.header-right-part .social-icons {
		display: block;
		margin: 30px 0
	}

	.navbar-nav {
		margin: 0;
	}

	.navbar-nav>li,
	.sub-menu li {
		width: 100%;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	#menu-main-menu li:first-child {
		border-top: 1px solid rgba(0, 0, 0, 0.1);
	}

	.navbar-nav>li>a,
	.sub-menu li a {
		text-align: left;
		font-size: 12px;
		letter-spacing: 0.65px;
		line-height: 46px;
		padding: 0;
		width: calc(100% - 80px);
		display: block;
	}

	.navbar-toggle {
		margin: 0 15px 0;
		padding: 0;
		margin-top: -35px;
		z-index: 9;
	}

	.navbar-collapse.in {
		background: #9CACCA;
		height: 100%;
		position: fixed;
		width: 100%;
	}

	.navbar {
		position: absolute;
		width: 100%;
		z-index: 2;
		background: #9CACCA;
		min-height: 0;
	}

	.sub-menu {
		background: transparent;
		border: 0;
		box-shadow: none;
		position: unset;
	}

	.menu-item-has-children>a:after {
		content: '';
	}

	.menu-item-has-children:after {
		content: '\f054';
		font-family: 'FontAwesome', sans-serif;
		position: absolute;
		padding: 0;
		top: 13px;
		right: 0;
		width: 50px;
		text-align: right;
	}

	.menu-item-has-children:hover .sub-menu {
		display: none;
	}

	.navbar-nav>li>a:hover {
		border: 0;
	}

	.ars-logo {
		height: 45px;
		width: auto;
	}

	.navbar-brand {
		height: 50px;
	}

	.header-left-part {
		width: 100%;
	}

	#nav-icon span {
		height: 2px;
		width: 30px;
		border-radius: 2px;
		background-color: #000000;
		display: block;
		margin: 5px 0;
	}

	.chapter-box {
		width: calc(50% - 30px);
		margin-left: 15px;
		margin-right: 15px;
	}

	.navbar-nav {
		display: block;
	}

	.banner-content {
		width: 100%;
		margin-bottom: 0;
	}

	.banner {
		align-items: center;
		justify-content: center;
		max-height: 181px;
	}

	.banner-slider .owl-dots {
		width: 100%;
		text-align: center;
		bottom: 30px;
	}

	.banner>div {
		margin-top: inherit;
	}

	.banner-content h1 {
		font-size: 24px;
		letter-spacing: -0.14px;
		line-height: 28px;
		text-align: center;
		margin: 0;
	}

	.banner-content .btn {
		display: none;
	}

	footer .social-icons li {
		margin: 0;
	}

	footer .social-icons li:nth-child(2n) {
		margin-left: 10px;
	}

	footer .social-icons li a {
		width: 160px;
	}

	footer .social-icons {
		margin-right: unset;
	}

	.col {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.one-column-block,
	.one-column-title {
		margin-top: 45px;
	}

	.two-column-block {
		margin-top: 10px;
	}

	.custom-page {
		padding-bottom: 50px;
	}

	.two-column-title,
	.two-column-text {
		font-size: 16px;
		line-height: 27px;
	}

	.page-content {
		padding-top: 24px;
		padding-bottom: 40px;
	}

	.page-template-page-executive-boards .page-content {
		padding: 24px 15px 0 15px;
	}

	.content {
		padding: 40px 15px;
	}

	.gallery .album {
		width: 100%;
		margin-right: 0 !important;
		margin-left: 0 !important;
		padding: 0 !important;
	}

	.tribe-events-loop .type-tribe_events {
		width: 100%;
		margin-right: 0;
		margin-left: 0;
	}

	.activities-functions .news-box {
		width: 100%;
	}

	.cpt_chapter-template-default .long-btn {
		width: 100%;
	}

	.chapters-settings .available-features:not(:nth-child(1)) {
		margin-top: 53px;
	}

	.single-cpt_chapter .tribe-events-list .type-tribe_events {
		width: 100%;
	}

	.single-cpt_chapter .tribe-events-list .tribe-events-event-image img {
		width: 280px !important;
		height: auto !important;
		max-width: unset !important;
	}

	.single-cpt_chapter .tribe-events-list .tribe-events-loop .tribe-events-event-image {
		width: 100% !important;
		margin: 0 auto !important;
	}

	.organization-item,
	.chapter-program,
	.chapters-contact-details {
		width: 100%;
	}

	.single-cpt_chapter main {
		padding-bottom: 60px;
	}

	.featured-banner {
		max-height: 160px;
		height: 30vh;
	}

	.sub-menu {
		height: 100%;
		width: 0;
		position: fixed;
		overflow-y: hidden;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: #9CACCA;
		overflow-x: hidden;
		transition: 0.5s;
		padding-top: 60px;
	}

	.subscribe-form .frm_submit {
		border-bottom: 1px solid rgba(151, 151, 151, 0.3);
	}

	.subscribe-form .frm_submit button:before {
		right: 0;
	}

	.user-content iframe {
		max-width: 290px;
		height: auto;
	}

	.form-popup {
		width: 90%;
	}
}

/* Landscape phones and smaller */
@media (max-width: 544px) {}

@media (max-width: 480px) {}

@media (max-width: 320px) {
	footer .social-icons li a {
		width: 137px;
	}

	.header-right-part .btn {
		width: 142px;
		margin: 0;
	}
}